<h2>Tekoven Admin</h2>
<p>Ime: @ViewBag.CurrentAdmin</p>
<p>Vreme na pozicija: @ViewBag.DaysInPosition denovi</p>

@{
    int daysInPosition = 0;
    int.TryParse(ViewBag.DaysInPosition?.ToString(), out daysInPosition);
    ElectionState state = ViewBag.election.State;
    int countYesVotes = ViewBag.countYesVotes;
    int countNoVotes = ViewBag.countNoVotes;
}

@if (daysInPosition >= 90 && (int) state == 3)
{
    <form method="post" asp-action="ProposeElection">
        <button type="submit" class="btn btn-primary">Propose New Election</button>
    </form>
}
else if ((int) state == 1)
{
    <p>No votes: @countNoVotes</p>
    <p>Yes votes: @countYesVotes</p>
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-info">@TempData["Message"]</div>
}
